<div class="fpt-signature-long">
    <p class="regards"><em>Thank you and Warmest Regards,</em></p>
    <p class="user-fullname"><strong>[$$var(user-fullname)]</strong></p>
    <p class="job-position"><em>[$$var(job-position)]</em></p>
    <p class="department"><strong>[$$var(department)]</strong></p>
    <p class="address">G&nbsp;Floor, F-Town 1 Building High-tech Park, Tan Phu Ward, District 9, Ho Chi Minh City, Vietnam</p>
    <p class="reference"><strong>T</strong>&nbsp;&nbsp;+[$$var(phone-number)] &nbsp; &nbsp; &nbsp;<strong>W</strong> &nbsp; <span><a href="https://fsoft-academy.edu.vn/" rel="noopener noreferrer" target="_blank" data-auth="NotApplicable" data-linkindex="0">fsoft-academy.edu.vn</a></span></p>
</div>