<style>
    .fpt-signature-long {
        font-family: Arial, Helvetica, sans-serif;
    }

        .fpt-signature-long .regards {
            font-size: 10pt;
            color: #000;
        }

        .fpt-signature-long .owner {
            font-size: 10pt;
            text-transform: uppercase;
            color: #007033;
        }

        .fpt-signature-long .job-position {
            font-size: 8pt;
            color: #7F7F7F;
        }

        .fpt-signature-long .department {
            font-size: 8pt;
            color: #000;
        }

        .fpt-signature-long .address {
            font-size: 8pt;
            color: #7F7F7F;
        }

        .fpt-signature-long .reference {
            font-size: 8pt;
            color: #7F7F7F;
        }
</style>